@model Album
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <p>Namn - @Model.Title</p>
        <p>Release - @Model.Year</p>
    </div>
</body>
</html>