@model Band
    <p>Lista över album som @Model.Name skapat</p>
    <ul>
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="details/@album.Id">@album.Title</a> (@album.Year)
            </li>
        }
    </ul>
