@using AlbumLab.Models
@using AlbumLab.Models.Classes
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Hi</title>
</head>
<body>
    <ul>
        @foreach (Band artist in (List<Band>)ViewData["artists"])
        {
            <li>
                @artist.Name
                <ul>
                    @foreach (Album album in (artist.Albums))
                    {
                        <li>@album.Name</li>
                    }
                </ul>
            </li>
        }
    </ul>
</body>
</html>